.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img {
    margin-top: 60px;
    margin-bottom: 10px;
}

.container h1 {
    text-align: center;
    color: #202124;
    font-size: 68px;
    letter-spacing: -2.5px;
}